<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
         <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>proyectotoo115@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>TareaTOO115</param-value>
    </context-param>
    <servlet>
        <servlet-name>ControladorAcceso</servlet-name>
        <servlet-class>ServletController.ControladorAcceso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAcceso</servlet-name>
        <url-pattern>/controladoracceso</url-pattern>
    </servlet-mapping>
</web-app>
